<ion-header>
  <ion-toolbar color="logbot">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <body>

    <div id="container">
      <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input placeholder="Insira seu email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>

    <div id="containerdois">
      <ion-button color="logbot" shape="round">Entrar</ion-button>
      <br>
      <ion-button routerLink="/registro" color="logbot" shape="round">Registrar-se</ion-button>
      <br>
  </div>

<div id="letra">
  <h6 routerLink="/esqueceusenha"><i><u>Esqueceu a senha</u></i></h6>
</div>


</body>

</ion-content>
