* {
  font-family: Georgia;
}

body{
  background-color: rgba(217, 247, 250, 0.692);
}


ion-card{
  background-color: rgb(218, 245, 245);
  border-radius: 8px;
}

#letra{
text-align: end;
color:rgb(63, 75, 75);
}

ion-content {
  height: 200px;
  position: relative;
  display: flex;
}

#containerdois{
  width: 80%;
  position: absolute;
  top: 40%;
  left: 55%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#containerdois {
  ion-button {
    height: 25px;
    text-align: center;
    display: flex;
    width: 80%;
    top: 50%;
    left: 50%;
  }
}

.msg-erro{
  color:rgb(187, 103, 92);
  font-size: 13px;
  clear: both;
  position: relative;
}

ion-card{
  ion-card-content{
    ion-item{
      ion-label{
        font-family: Georgia;
      }
    }
  }
}
      
