<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input placeholder="Insira seu email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input placeholder="Insira sua senha"></ion-input>
  </ion-item>

  <ion-button fill="outline">Entrar</ion-button>
  <ion-button fill="outline">Registrar</ion-button>
  <ion-button fill="outline">Esqueceu a senha</ion-button>


</ion-content>
