<ion-header [translucent]="true">
  <ion-toolbar color="toolbar">
    <ion-title>
      FORMS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<body>
  <div id="container">
    <ion-card>
      <!--colocar uma imagem de usuaria-->

      <ion-card-content>
        <ion-item routerLink="/login">
          <ion-button color="botao" fill="outline">login</ion-button>
        </ion-item>

        <ion-item routerLink="/registro">
          <ion-button color="botao" fill="outline">registro</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

</body>

</ion-content>

