<ion-header [translucent]="true">
  <ion-toolbar color="logbot">
    <ion-title>
      FORMS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="img">

<body>


  <div id="container">

    <h2>CREATE A NEW ACCOUNT</h2>
    <ion-card>
      <ion-card-content>
        <ion-item routerLink="/login">
          <ion-button color="botao" fill="outline">Login</ion-button>
        </ion-item>

        <ion-item routerLink="/registro">
          <ion-button color="botao" fill="outline">Registrar-se</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</body>

</ion-content>

