body{
  background-color: rgb(230, 255, 255);
}

* {
  font-family: Georgia;
}

ion-content {
  height: 200px;
  position: relative;
  display: flex;
}

ion-card{
  background-color: rgb(180, 214, 214);
  border-radius: 8px;
}

ion-title{
  text-align: center;
}

#container {
  width: 80%;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#imagem{
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 12em;
}
