<ion-header>
  <ion-toolbar color="logbot">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/registro"></ion-back-button>
    </ion-buttons>

    <ion-title>Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<body>
  <form>
    <ion-card>
      <ion-item>
        <ion-input>Nome:</ion-input>
      </ion-item>

      <ion-item>
        <ion-input>Descrição:</ion-input>
      </ion-item>

      <ion-item>
        <ion-input>Validade:</ion-input>
      </ion-item>

      <ion-item>
        <ion-input>Preço:</ion-input>
      </ion-item>
    </ion-card>
  </form>
</body>
</ion-content>
