<ion-header>
  <ion-toolbar color="logbot">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/registro"></ion-back-button>
    </ion-buttons>

    <ion-title>Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<form>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descrição</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Validade</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Preço</ion-label>
  </ion-item>
</form>

</ion-content>
