* {
  font-family: Georgia;
}

body{
  background-color: rgba(217, 247, 250, 0.692);
}

ion-card{
  background-color: rgb(218, 245, 245);
  border-radius: 8px;
}

ion-content {
  height: 200px;
  position: relative;
  display: flex;
}

#infodois{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 62%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

