<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input placeholder="Insira seu nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">CPF</ion-label>
    <ion-input placeholder="000.000.000-00"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input placeholder="Insira seu email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input placeholder="Insira sua senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirmar senha</ion-label>
    <ion-input placeholder="Confirme sua senha"></ion-input>
  </ion-item>

  <ion-button fill="outline">Salvar</ion-button>
  <ion-button fill="outline">Voltar</ion-button>

</ion-content>
